div #ext_subtitle_list {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}

div #ext_drop_div {
    min-height: 50px;
    font-size: 12pt;
    border-radius: 10px;
    border-style: dotted;
    border-width: 2px;
    border-color: lightgray;
    margin-bottom: 20px;
}

div #ext_drop_div p {
    margin-top: 15px;
    text-align: center;;
}

div .controls_sub_display {
    color: gray;
    font-size: 16pt;
    border-top: solid;
    border-color: lightgray;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

div .controls_sub_display p {
    padding-top: 7px;
    padding-bottom: 7px;
}

div .controls_sub_display_lines {
    flex: 1 1;
}

div .controls_active_sub_display {
    color: black;
    background-color: lightgray;
}

.controls_sub_display_sync_button {
    margin-top: 7px;
    margin-bottom: 7px;
    flex: 0 0 100px;
    height: 30px;
    max-height: 30px
}