label {
    user-select: none;
}

.controlsdiv {
    margin-bottom: 5px;
}

#offset_opts_panel {
    display: flex;
}

#offset_panel {
    flex: 0 1 55%;
    margin-right: 20px;
}

#opts_panel {
    flex: 0 1 45%;
}

div #ext_subtitle_list {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}

div #ext_drop_div {
    min-height: 50px;
    font-size: 12pt;
    border-radius: 10px;
    border-style: dotted;
    border-width: 2px;
    border-color: lightgray;
    margin-bottom: 20px;
}

div #ext_drop_div p {
    margin-top: 15px;
    text-align: center;;
}

div .controls_sub_display {
    color: gray;
    font-size: 16pt;
    border-top: solid;
    border-color: lightgray;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

div .controls_sub_display p {
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

div .controls_sub_display_lines {
    flex: 1 1;
}

div .controls_active_sub_display {
    color: black;
    background-color: lightgray;
}

.controls_sub_display_button {
    margin-top: 7px;
    margin-bottom: 7px;
    flex: 0 0 80px;
    height: 30px;
    max-height: 30px
    margin-left: 2px;
    margin-right: 2px;
}

.video_sub_display {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.video_sub_display_text {
    color: white;
    text-align: center;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.video_sub_display_text p {
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
}

.opts_checkbox {
    margin-right: 5px;
    vertical-align: middle;
}

.opts_checkbox_label {
    vertical-align: middle;
}
